html{height: 100%;}
body{
    height: 100%;
    background-image:url(../media/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*
 Keyframes
*/
@keyframes grande_chico{
    0%{
        width: 48px;
        height: 48px;
    }
    50%{
        width: 52px;
        height: 52px;
    }
    100%{
        width: 48px;
        height: 48px;
    }
}


/* ----------------------------Esta seccion es para el header y el menu de navegacion */

.navCon{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(219, 172, 119, 0.827);
}
.navCon__cuenta{
    margin-left: 10px;
}
.navCon__logo{
    width: 150px;
    height: 50px;
}
.navCon__boton{
    margin-right: 10px;
    cursor: pointer;
}
.navCon__boton>img:active{
    animation-name: grande_chico;
    animation-duration: 1s;
    animation-delay: 0ms;
}
.navCon__menu{
    padding: 0;
    width: 100%;
    height: 0vh;
    position: fixed;
    margin-top: 0;
    top: 80px;
    background-image: url(../media/fondo.png);
    text-align: center;
    transition: all 0.1s;
}
.navCon__menu li{
    display: none;
    margin: 50px;
    padding: 3vh;
    transition: all 0.6s;
}
.navCon__menu li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s;
}
.navCon__menu li a.active, .navCon__menu li a:hover{
    color: gray;
    transition: 0.3s;
}
#check{
    display: none;
}
#check:checked ~ .navCon__menu{
    height: 100vh;
}
#check:checked ~ .navCon__menu li{
    display: block;
}
/*
--------------------------------------Contenido de la pagina
*/
.title{
    margin-top: 90px;
    text-align: center;
}
strong{
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}
.outfitsDia{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.478);
}
.outfitsDia img{
    width: 70vw;
    padding: 10px;
}
.outfitsDia__grupo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.236);
}
.outfitsDia__outfit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 10px;
    text-align: center;
}
.outfitsDia__title{
    color: white;
}
/*
-------------------------------Tiendas y ubicacion
*/
.tiendas{
    margin-top: 90px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.mapa{
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 2vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.7fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "mapa__title"
      "mapa__text"
      "mapa__img";
  }
  
  .mapa__title { grid-area: mapa__title; }
  
  .mapa__text { grid-area: mapa__text; }
  
  .mapa__img { grid-area: mapa__img; }
  
.mapa__title{
    display: flex;
    align-items: center;
}
.mapa__title>label{
 font-size:x-large;
}
.mapa__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapa__img>img{
    width: 50vw;
    height: 25vh;
}
.mapa__img>a{
    color: black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: medium;
}
.mapa__gmap{
    display: none;
}
/*  -------------------------------- formularios y botones  --------------------------------
*/

input[type=text],input[type=email],input[type=password], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=checkbox]{
   width: 16px;
   height: 16px;
  }
.formu{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.formu__field {
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
    width: 300px;
    height: fit-content;
    background-color:  #eaefd394;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
  }

  .formu__registrarse{
   display: flex;
   justify-content: center;
   padding:10px;
}
.formu__registrarse>a{
text-decoration: none;
color: black;
}
.formu__registrarse>a:hover{
   color: rgb(124, 124, 124);
}
.formu__check{
justify-content: center;
}

.myButton {
    margin: 3px;
color: rgb(0, 0, 0); 
font-size: 18px; 
line-height: 18px; 
padding: 13px;
border-radius: 0px;
text-transform: none; 
background-color: rgb(255, 255, 255);
display: inline-block; 
width: 100%;}
.myButton:hover {
background: #eaefd394; }
.myButton:active {
background: rgb(255, 255, 253);} 

/*
  -------------------------------- Sección sobre nosotros  --------------------------------
*/

.aboutus{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.aboutus__cont{
    height: fit-content;
    background-color:#ffffff2f;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    text-align: center;
    margin-top: 3em;
    padding: 1em;
}
.aboutus__img{
    width: 85vw;
    padding: 20px;
}
.aboutus__p{
    display: block;
    width: 80vw;
    font-size: 18px;
}
strong{
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

/*
--------------------------------------- Footer --------------------------------
*/
.seguinos{
    text-align: center;
    margin-top: 5%; 
    text-decoration: none;
   }

.redes {
    display: flex;
    flex-direction: row;
     margin-top: 5%;
     padding-inline: 10px;
     width: 100vw;
     justify-content: space-between;
     
} 
.redes>a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    text-decoration: none;
     color: black;
     padding: 20px;
     
}
.redes>a:visited{
    text-decoration: inherit;
    color: inherit;
}
.redes>a>label{
    display: none;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: center;
}
/*
------------- media screen -------------
*/
@media screen and (min-width:768px) {
    /*

    Navegación y Logo

    */
    .navCon{
        display: flex;
        justify-content: space-between;
    }
    .navCon__boton{
        display: none;
    }
    #check{
        display: none;
    }
    .navCon__menu{
        display: flex;
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        text-align: right;
        transition: none;
        margin-right: 0px;
        align-items: center;
        justify-content: space-around;
    }
    .navCon__menu li{
        display: inline-block;
        margin: 10px;
        padding: 0%;
    }
    /*

    Contenido del Main

    */
    .title{
        text-align: center;
        margin-bottom: 20px;
    }
    .outfitsDia{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px;
        flex-wrap: wrap;
    }
    .outfitsDia img{
        width: 30vh;
    }
    .outfitsDia__title{
        background-color:#eaefd3b8;
        margin-bottom: 0;
        width: fit-content;
        padding: 10px;
        border-top: 2px solid #8a8c7f34 ;
        border-left: 2px solid #8a8c7f34 ;
        border-right: 2px solid #8a8c7f34 ;
        color: black;
    }
    .outfitsDia__grupo{
        display: flex;
        flex-direction: row;
        border: solid  #8a8c7f34 2px;
        justify-content: space-around;
        background-color:  #eaefd394;
        padding: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .outfitsDia__outfit{
        width: 430.09px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*
    Tiendas y Ubicación
    */
    .mapa {
        height: 30vw;
        width: 70vw;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 0.5fr 1.5fr; 
        grid-template-rows: 0.3fr 1.0fr 1.7fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "mapa__title mapa__gmap"
          "mapa__text mapa__gmap"
          "mapa__img mapa__gmap"; 
      }
      .mapa__gmap { grid-area: mapa__gmap; }
      .mapa__title { grid-area: mapa__title; }
      .mapa__text { grid-area: mapa__text; }
      .mapa__img { grid-area: mapa__img; }

    .mapa__img{
        display: flex;
        justify-content: center;
    }
    .mapa__img>img{
        width: 17vw;
        height: 22vh;
    }
    .mapa__gmap{
        display: flex;
        justify-content: center;
    }
    .mapa_gmap>iframe{
        width:60vw;
        height: 20vh;
    }
    .mapa__img>a{
        display: none;
    }
    /*
     --------------------------formulario y botones---------------------
    */
    .formu__field{
        width: 500px;
    }

    /*
    seccion "sobre-nosotros"
    */
    @mixin espacio($width, $padding){
        width: $width;
        padding: $padding
    }

    .aboutus{
        margin-top: 90px;
        
        p{
         @include espacio(500px,10px)
        }
    }
    .aboutus__img{
        width: 600px;
    }
    /*
    Footer
    */
    .redes{
        justify-content: space-around;
        label{
            display: inline;
            margin-left: 10px;
        }
    }
    
    
}